<div class="profile-information">

    <h1 class="profile-page" id="profile-hone"> <%= @user.first_name %>'s  Profile </h1>

    <h3 class="profile-page"><span class="testtest">First Name:</span> <%= @user.first_name %></h3>
    <h3 class="profile-page">Last Name: <%= @user.last_name %></h3>
    <h3 class="profile-page">Email: <%= @user.email %></h3>
    <h3 class="profile-page">Birthday: <%= @user.birthday %></h3>

    <form id="deleteprofile" action="/users/<%= @user.id %>" method="post">
      <input type="submit" class="delete" value="Delete Account" data-confirm="Are you sure you want to delete your profile?">
    </form>
</div>

<div class="profile-posts">
   <% @posts.reverse.each do |ps| %>
 <h2 id=""><%= ps.title %></h2>
   <p id=""><%= ps.content %></p>

   <form id="delete-profile-posts" action="/posts/<%= ps.id %>" method="post">
    <input type="submit" value="Delete Post">
   </form>

  <% end %>
</div>


<!-- JAVASCRIPT BELOW -->

<!-- <script type="text/javascript">
var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
deleteLinks[i].addEventListener('click', function(event) {
    event.preventDefault();

    var choice = confirm(this.getAttribute('data-confirm'));

    if (choice) {
      window.location.href = this.getAttribute('href');
    }
});
}
</script> -->
