

<h1> <%= @user.first_name %> Profile </h1>

<h3>First Name: <%= @user.first_name %></h3>
<h3>Last Name: <%= @user.last_name %></h3>
<h3>Email: <%= @user.email %></h3>
<h3>Birthday: <%= @user.birthday %></h3>

<hr>



<p> Delete this account</p>
<form action="/users/<%= @user.id %>" method="post">
  <input type="submit" value="Delete Account" onclick="alert('Account Deleted.')">
</form>

<hr>


<% @posts.each do |ps| %>
<h2><%= ps.title %></h2>
<p><%= ps.content %></p>
<% end %>


<hr>
