
<div class="">

  <div class="">

    <h1> <%= @user.first_name %>'s  Profile </h1>
    <hr>

    <h3>First Name: <%= @user.first_name %></h3>
    <h3>Last Name: <%= @user.last_name %></h3>
    <h3>Email: <%= @user.email %></h3>
    <h3>Birthday: <%= @user.birthday %></h3>


  <hr>


    <p id="deleteprofilepara"> Delete this account</p>
    <form id="deleteprofile" action="/users/<%= @user.id %>" method="post">
      <input type="submit" value="Delete Account" onclick="alert('Account Deleted.')">
    </form>

  </div>




<hr>

<div class="">
<% @posts.reverse.each do |ps| %>
<h2 id=""><%= ps.title %></h2>
<p id=""><%= ps.content %></p>
<br>

<form action="/posts/<%= ps.id %>" method="post">
  <input type="submit" value="Delete Post">
</form>
<hr>


<% end %>

</div>
